
@import url(http://fonts.googleapis.com/css?family=Lato);
@import '../bower_components/sass-bootstrap/lib/bootstrap';




$tech-padding : 0px;
$tech-logo-height : 300px ;
$tech-logo-width : 300px;
$tech-title-height : 35px ;
$tech-border-color : $gray-dark ;
$tech-border-radius : 3px;

$section-color-darker : #201B2E;//#433C7E;
$section-color-light : #8D79F2;
$section-color-dark : #191A2A;
$section-color-mid : #222B40;

$section-color-yellow : #FAFFBD;





div.view-content{
	@extend .container-fluid;
	padding-top:$navbar-height + 8px;
}
div.section{
	@extend .col-xs-12;
}


.navbar-inverse  {
	.navbar-nav > li{
		a{
			transition : ease 0.5s;
		}	
		a.active{
			color: $brand-info;
		}
	}
	a.navbar-brand:hover{
		color: $brand-info;
	}
}


div.tech-logo{
	background : $gray-lighter;

	div.thumbnail{
	 	box-shadow: 0px 0px 4px 1px $gray-light;
	 	border-radius : $tech-border-radius;
	 	border:0;
	  
	  div.frontside{

	  	div{
	  		height : $tech-logo-height;
	  		background: url(/images/angularjs.svg) no-repeat center center;
	  	}
	  	.angular{
			background-image: url(/images/angularjs.svg);
			background-size : contain;
		}
		.nodejs{
		  	background-image: url(/images/nodejs.svg);
		  	background-size : contain;
		}
		.phonegap{
		  	background-image: url(/images/phonegap.svg);
		  	background-size : contain;
		}
		.git{
		  	background-image: url(/images/git.svg);
		  	background-size : contain;
		}
		.mongodb{
		  	background-image: url(/images/mongodb.jpg);
		  	background-size : cover;
		}

	  	span{
	  		@extend .center-block;
	  		@extend .text-center;
	  		color : #fff;
	  		background : $tech-border-color;
	  		font-size : 1.3em;
	  		line-height: $tech-title-height;
	  	}
	  }
  	}
}


#contact{
	background:$section-color-darker ;
	color : $section-color-light;
}

#footer{
	background : $gray-darker;
}
