


@import "normalize";
ul{
  margin:0;
  padding:0;
  list-style-type: none;
}
fieldset {
  padding: 0;
  border: none;
}
@import "node_modules/susy/sass/susy";

$susy : (
  columns: 12,
  //debug: (image: show)
);

$small-breakpoint:  640px;
$medium-breakpoint: 1024px;
$large-breakpoint:  1440px;
$xlarge-breakpoint: 1920px;

$app-max-width: 1000px;

$nav-height: 3rem;

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding-top: $nav-height + 1rem;
  background-color: #3b2f63;
  background-image: linear-gradient(45deg, #3b2f63 0%,#7579f4 100%);
  color: #fff;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.01em;
  @include container;
  @include show-grid(0);
}

@import "components/nav";
@import "components/form";
@import "components/gallery";

.content {
  //@include show-grid(8);
  @include container($app-max-width);
}
