$nav-height : 3rem;

@import "node_modules/susy/sass/susy";

$susy : (
  columns: 12,  // The number of columns in your grid
  gutters: 1/4, // The size of a gutter in relation to a single column
);

body {
  margin:0;
  padding-top:$nav-height + 1rem;
  background-color: #3B2F63;
  background-image:linear-gradient(45deg, #3b2f63 0%,#7579f4 100%);
  color: #fff;
}


nav.nav-bar{
  //padding-left: 12rem;
  position: fixed;
  width:100%;
  top:0;
  left:auto;
  padding-bottom: 1rem;
  border-bottom:solid 1px rgba(255, 255, 255, 0.4);
  .nav-logo{
    float:left;
    height :$nav-height;
    width: 12rem;
    background-position-y: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url('images/codeapp.png');
  }

  .nav-links{
    margin:0;
    padding: 0;
    line-height: $nav-height;
    li{
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: inline;
      a{
        padding: 1rem;
      }
    }
  }
}
