.tech{
  background: #fff;
  border-radius: 4px;
  color:#000;
  padding: 1rem;
  height:12rem;
  .image{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
