.tech {
  //overflow: hidden;
  .flipper {
    position: relative;
    perspective: 900px;
    transition: transform 1s;
    transform-style: preserve-3d;
    height: 12rem;
    border-radius: 4px;
  }
  .front,
  .back {
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
    //box-shadow: 2px 0 0;

  }
  &:hover .flipper {

    transform: rotate3d(0,1,0,180deg);
    //transform: rotateY( 180deg );
  }
  .front {
    .image {
      height: 100%;
      padding: 1rem;
      box-sizing: border-box;
      background-origin: content-box;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    //  height: 100%;
    }
    transform: rotate3d(0,1,0,0deg);
    background-color: #fff; //#222;
  }
  .back {

    //z-index: 1;
    //transform: rotateY( 180deg );

    transform: rotate3d(0,1,0,180deg);
    color: #000;
    background-color: #fff;
    .title {
      padding: 0 1rem;
    }
    .description {
      padding: 0 1rem;
    }
  }
}
