.crop{
  overflow: hidden;
}

.wrap{
  transition: transform 0.3s ease;
  &.opened{
    transform: translate3d($offcanvas-breakpoint-width, 0, 0);
  }
}

.offcanvas {
  position: absolute;
  width: $offcanvas-breakpoint-width;
  left: -$offcanvas-breakpoint-width;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.16);
  ul.nav-links {

    padding-left: 2rem;
    li {
      padding: 2rem 0;
      a {
        font-size: 1.3rem;
      }
    }
  }
}
.canvas {
  padding-top: $nav-height + 1rem;
  .content {
    @include container($app-max-width);
    padding: gutter();

  }
}
