.release_component{
  color: black;
  margin-top:3rem;
  background: white;
  border-radius: 4px;
  .name{
    color: gray;
  }
  .release_content{

    display: none;
    height: 0;
  }
  &.active{
    .release_content{
      padding: 2rem;
      height: inherit;
      display: inherit;
    }
  }
}
