$offcanvas-breakpoint: $small-breakpoint;
$offcanvas-breakpoint-width : 10rem;

nav.nav-bar {
  position: fixed;
  transform: translate3d(0,0,0);
  z-index: 1000;
  width: 100%;
  top: 0;
  left: auto;
  background-color: rgba(0, 194, 255, 0.97);
  //border-bottom: solid 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px black;
  div.nav-container {
    @include container($app-max-width);
    padding: 0.5rem 1rem;
    .nav-logo,.nav-btn {
      height: $nav-height;
      background-position-y: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .nav-logo{
      @include span(15rem);
      background-image: url("/images/codeapp.png");
      @media(max-width: $offcanvas-breakpoint) {
        display: none;
      }
    }
    .nav-btn{
      display: none;
      background-image: url("/images/codeapp-compact.png");
      @include span(4rem);
      @media(max-width: $offcanvas-breakpoint) {
        display: block;
      }
    }
    .nav-links {
      margin: 0;
      padding: 0;
      line-height: $nav-height;
      @include last;
      @media(max-width: $offcanvas-breakpoint) {
        display: none;
      }
      li {
        padding: 0 1rem;
        display: inline;
        a{
          color:white;
          font-weight: 400;
        }
      }
    }
  }
}
