 
 <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#about">CODEAPP</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
      </button>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#vision">Vision</a></li>
                <li><a href="#tweets">Tweets</a></li>
                <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->



  </div><!-- /.container-fluid -->
</nav>

<!-- +++++ Welcome Section +++++ -->
<div>
    <img class="logo" src="images/user.jpg" alt="codeapp">
    <h1>Denis Schmitz</h1>
    <p>
      Web and Hybrid application Architect and Developer.
    </p>
    <p>
      Deeply convinced that most of the applications should be built using web technologies, i'm passionate about client, server and user-interface coding.

      I constantly seek improvements in security, performance, maintainability, design and ergonomy.
      
      I think nowadays you should be able to use your app regardless the device you access it with.I therefore grown skills in hybrid,RESTful and responsive app development.
      Expert in Javascript and PHP [ZF] development.
    </p>
</div>

<div class="footer">
  <p>♥ from the footer team</p>
</div>
