 <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <a class="navbar-brand" href="#about">C<span class="small glyphicon glyphicon-dashboard"></span>DEAPP</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li ng-repeat="section in sections" ng-class="{active : isSelected(section)}">
              <a href="{{section.anchor}}" du-smooth-scroll du-scrollspy offset="50">{{section.name}}</a>
            </li>
          </ul>
      </div>

    </div>
</div>

<div class="view-content">
  <div class="section" id="about">
    <!-- <img class="logo" src="images/user.jpg" alt="codeapp"> -->
    <h1>Denis Schmitz</h1>
     <h3>Web and Hybrid application Architect and Developer.</h3>
    <blockquote>
      Deeply convinced that most of the applications should be built using web technologies, i'm passionate about client and server side application coding.
      I constantly seek improvements in security, performance, workflow, design and ergonomy.
      I think nowadays you should be able to use your app regardless the device you access it with. I therefore grown skills in hybrid, RESTful and responsive app development.
    </blockquote>
    <h4> Expert in <strong>Javascript</strong> and PHP <abbr title="Zend Framework">ZF</abbr>.</h4>
  </div>
  <div class="section" id="skills">
    <!-- <img class="logo" src="images/user.jpg" alt="codeapp"> -->
    <h1>Skills</h1>
    <p>
      Web and Hybrid application Architect and Developer.

      " Deeply convinced that most of the applications should be built using web technologies, i'm passionate about client and server side application coding.

      I constantly seek improvements in security, performance, workflow, design and ergonomy.
      
      I think nowadays you should be able to use your app regardless the device you access it with. I therefore grown skills in hybrid, RESTful and responsive app development. "

      Expert in Javascript and PHP <abbr title="Zend Framework">ZF</abbr> .
    </p>
  </div>
  <div class="section " id="vision">
    <!-- <img class="logo" src="images/user.jpg" alt="codeapp"> -->
    <h1>Techs</h1>
    <div class="row">
      <div class="tech-logo thumbnails">
        <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat = "tech in techs">
          <div class="thumbnail" >
              <div class="frontside">
                <div class="{{tech.css}}"></div>
                
                  <span class="">{{tech.title}}</span>
             
              </div>
            
          </div>  

        </div>    

      </div>
    </div><!--row-fluid -->
  </div>
  <div class="section" id="tweets">
    <!-- <img class="logo" src="images/user.jpg" alt="codeapp"> -->
    <h1>Tweet</h1>
    <p>
      Web and Hybrid application Architect and Developer.

      " Deeply convinced that most of the applications should be built using web technologies, i'm passionate about client and server side application coding.

      I constantly seek improvements in security, performance, workflow, design and ergonomy.
      
      I think nowadays you should be able to use your app regardless the device you access it with. I therefore grown skills in hybrid, RESTful and responsive app development. "

      Expert in Javascript and PHP [ZF].
    </p>
  </div>
  <div class="section" id="contact">
    <!-- <img class="logo" src="images/user.jpg" alt="codeapp"> -->
    <h1>Contact</h1>
    <form role="form">
      
      <div class="form-group">
        <label for="InputEmail">Your Email</label>
        <input type="email" class="form-control" id="InputEmail" placeholder="Your Email">
      </div>
      
      <div class="form-group">
        <label for="InputMessage">Message</label>
        <textarea  class="form-control" id="InputMessage" placeholder="Message" rows="5"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-info btn-lg btn-block"><span class="glyphicon glyphicon-send"></span></button>
      </div>
  </form>
    
</div>
<div class="section centered-block" id="footer">
    <p>♥ from appcode</p>
</div>
</div>


